body {
    background-color: #f5f6fa;
}
.sidebar {
    height: 100vh;
    width: 180px;
    background-color: black; 
    color: #fff;
    padding-top: 20px;
    position: fixed;
    box-shadow: 6px 0 10px rgba(0,0,0,0.30);
}

.sidebar .logo {
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
    color: white; 
}

.sidebar .logo img {
    height: 40px;
    width: 40px;
    margin-bottom: 5px;
}

.sidebar a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 12px 20px;
    border-left: 4px solid transparent;
    transition: all 0.3s ease;
    font-weight: 500;
}
.btinfoperfil
{
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: none;
    background-color: #b68f5c;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
}
.btinfoperfil:hover {
background-color: #a37542;
transform: translateY(-2px);
}
#inputLabels input:focus,
#inputLabels select:focus {
    border-color: #b68f5c;
    box-shadow: 0 0 8px rgba(182, 143, 92, 0.4);
    outline: none;
}
.sidebar a:hover {
    background-color: #ffb14b; 
    color: #1a1f36; 
    border-left: 4px solid #ffd549; 
    font-weight: bold;
}

.sidebar a.active {
    background-color: #cc8e48; 
    border-left: 4px solid #ffd549;
    font-weight: bold;
    color: #ffd549; 
}
.content {
    margin-left: 120px;
    padding: 20px;
}
.card {
    border: none;
    background-color: black;
    color: white;
}
.logo img
{
    height: 40px;
    width: 40px;
}
#graficoRendimentos
{
    width: 50%;
}
.graficosservicos
{
    width: 100%;
    height: 100%;
}
.row
{
    display: flex;
    justify-content: center;
}
.grafico4
{
    width: 100%;
    display: flex;
    justify-content: center;
}
.titulo
{
    margin-left: 60px;
}
.logotitulo
{
    font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
}
.time {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 10px;
}
.btinfoperfil2
{
    padding: 12px;
    border-radius: 10px;
    border: none;
    background-color: #b68f5c;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
}
.btinfoperfil2:hover {
background-color: #a37542;
transform: translateY(-2px);
}
[list]:not([type=date]):not([type=datetime-local]):not([type=month]):not([type=week]):not([type=time])::-webkit-calendar-picker-indicator {
    display: none !important
}
body {
    background: url('../images/93ea58efdcb1cedd9cecf423b5d6a2a4.jpg') no-repeat center center fixed;
    background-size: cover;
}
#graficoBalanceteDonut
{
    margin: auto;
    width: 45% !important;
    height: 50% !important;
}
#btnGrafico1
{
    color: #a37542;
    border: none;
}
#btnGrafico1:hover
{
    color: white;
     background-color: #a37542;
    transform: translateY(-2px);
}
#btnGrafico1.active
{
    color: white;
     background-color: #a37542;
}
#btnGrafico2
{
    color: #a37542;
    border: none;
}
#btnGrafico2.active
{
    color: white;
    background-color: #a37542;
}
#btnGrafico2:hover
{
    color: white;
    background-color: #a37542;
    transform: translateY(-2px);
}
#acordionID
{
    padding: 5px;
    border-radius: 5px;
}
