body {
    background: url('../images/93ea58efdcb1cedd9cecf423b5d6a2a4.jpg') no-repeat center center fixed;
    background-size: cover;
}
.sidebar {
    height: 100vh;
    width: 180px;
    background-color: black; 
    color: #fff;
    padding-top: 20px;
    position: fixed;
    box-shadow: 6px 0 10px rgba(0,0,0,0.15);
}

.sidebar .logo {
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
    color: white; 
}

.sidebar .logo img {
    height: 40px;
    width: 40px;
    margin-bottom: 5px;
}

.sidebar a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 12px 20px;
    border-left: 4px solid transparent;
    transition: all 0.3s ease;
    font-weight: 500;
}

.sidebar a:hover {
    background-color: #ffb14b; 
    color: #1a1f36; 
    border-left: 4px solid #ffd549; 
    font-weight: bold;
}

.sidebar a.active {
    background-color: #cc8e48; 
    border-left: 4px solid #ffd549;
    font-weight: bold;
    color: #ffd549; 
}
.content {
    margin-left: 220px;
    padding: 20px;
}
.card {
    border: none;
    border-radius: 10px;
}
.logo img
{
    height: 40px;
    width: 40px;
}
.swal2-popup.custom-toast {
  background-color: #4CAF50 !important;
  color: white !important;
  width: 400px  !important; 
}
.swal2-popup.toast-error {
  background-color: #f44336 !important;
  color: white !important;
  width: 400px !important;
}
.time {
    position: absolute;
    bottom: 20px;  /* Posiciona a div 20px da parte inferior da sidebar */
    left: 50%;
    transform: translateX(-50%);  /* Centraliza horizontalmente */
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 10px;
}

