body {
    background: url('../images/93ea58efdcb1cedd9cecf423b5d6a2a4.jpg') no-repeat center center fixed;
    background-size: cover;
}
.sidebar {
    height: 100vh;
    width: 180px;
    background-color: black; 
    color: #fff;
    padding-top: 20px;
    position: fixed;
    box-shadow: 6px 0 10px rgba(0,0,0,0.15);
}

.sidebar .logo {
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
    color: white; 
}

.sidebar .logo img {
    height: 40px;
    width: 40px;
    margin-bottom: 5px;
}
.logotitulo
{
    font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
}
    .btinfoperfil
    {
        width: 100%;
        padding: 12px;
        border-radius: 10px;
        border: none;
        background-color: #b68f5c;
        color: white;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        transition: background 0.3s ease, transform 0.2s ease;
    }
    .btinfoperfil:hover {
    background-color: #a37542;
    transform: translateY(-2px);
}
#inputLabels input:focus,
#inputLabels select:focus {
    border-color: #b68f5c;
    box-shadow: 0 0 8px rgba(182, 143, 92, 0.4);
    outline: none;
}
.sidebar a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 12px 20px;
    border-left: 4px solid transparent;
    transition: all 0.3s ease;
    font-weight: 500;
}

.sidebar a:hover {
    background-color: #ffb14b; 
    color: #1a1f36; 
    border-left: 4px solid #ffd549; 
    font-weight: bold;
}

.sidebar a.active {
    background-color: #cc8e48; 
    border-left: 4px solid #ffd549;
    font-weight: bold;
    color: #ffd549; 
}
.content {
    margin-left: 220px;
    padding: 20px;
}
.card {
    border: none;
    border-radius: 10px;
}
.logo img
{
    height: 40px;
    width: 40px;
}
.swal2-popup.custom-toast {
  background-color: #4CAF50 !important;
  color: white !important;
  width: 400px  !important; 
}
.swal2-popup.toast-error {
  background-color: #f44336 !important;
  color: white !important;
  width: 400px !important;
}
.time {
    position: absolute;
    bottom: 20px;  /* Posiciona a div 20px da parte inferior da sidebar */
    left: 50%;
    transform: translateX(-50%);  /* Centraliza horizontalmente */
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 10px;
}
.btinfoperfil2
{
    padding: 12px;
    border-radius: 10px;
    border: none;
    background-color: #b68f5c;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
}
.btinfoperfil2:hover {
background-color: #a37542;
transform: translateY(-2px);
}
#btnGrafico1
{
    color: #a37542;
    border: none;
}
#btnGrafico1:hover
{
    color: white;
     background-color: #a37542;
    transform: translateY(-2px);
}
#btnGrafico1.active
{
    color: white;
     background-color: #a37542;
}
#btnGrafico2
{
    color: #a37542;
    border: none;
}
#btnGrafico2.active
{
    color: white;
    background-color: #a37542;
}
#btnGrafico2:hover
{
    color: white;
    background-color: #a37542;
    transform: translateY(-2px);
}
#acordionID
{
    padding: 5px;
    border-radius: 5px;
}
.container-fluid
{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.row2 {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.row
{
    margin-top: 100px; 
}
#resumofinanceiro1
{
    margin-top: 20px;
}