body {
    background-color: #f5f6fa;
}
.sidebar {
    height: 100vh;
    width: 180px;
    background-color: black; 
    color: #fff;
    padding-top: 20px;
    position: fixed;
    box-shadow: 6px 0 10px rgba(0,0,0,0.15);
}

.sidebar .logo {
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
    color: white; 
}

.sidebar .logo img {
    height: 40px;
    width: 40px;
    margin-bottom: 5px;
}

.sidebar a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 12px 20px;
    border-left: 4px solid transparent;
    transition: all 0.3s ease;
    font-weight: 500;
}

.sidebar a:hover {
    background-color: #ffb14b; 
    color: #1a1f36; 
    border-left: 4px solid #ffd549; 
    font-weight: bold;
}

.sidebar a.active {
    background-color: #cc8e48; 
    border-left: 4px solid #ffd549;
    font-weight: bold;
    color: #ffd549; 
}
.content {
    margin-left: 220px;
    padding: 20px;
}
.card {
    border: none;
    border-radius: 10px;
}
.logo img
{
    height: 40px;
    width: 40px;
}